body {
	background-color: #669999;
	color: white;
}

a {
	color: #669999;
}

h1 {
	font-family: sans-serif;
	font-size: 30px;
	font-style: oblique;
}

h2 {
	font-family: sans-serif;
	font-size: 18px;
	font-style: oblique;
}

h5 {
	font-family: sans-serif;
	font-size: 14px;
	font-style: oblique;
	font-weight: lighter;
}